.mat-checkbox , .mat-checkbox-disabled.mat-checkbox-checked .mat-checkbox-background {
    margin-right: 20px;
    color:black;
}


::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background, .mat-accent .mat-pseudo-checkbox-checked, .mat-accent .mat-pseudo-checkbox-indeterminate, .mat-pseudo-checkbox-checked, .mat-pseudo-checkbox-indeterminate {
    background-color: #0081bd !important; /* Red background for example */
    color:black;
}


#mat-checkbox-1 > label {
    color:black;
}



.descricao {
}


.descricao textarea {
    height: 110px;
    border: 1px solid #BBB;
    border-radius: 5px 5px 5px 5px;
    padding: 5px;
    resize: none;
}