<h1 mat-dialog-title>Filtro (Diagrama)</h1>
<div mat-dialog-content>
  <div style="display: inline-block; width: 100%; height: 180px;">
    <div style="width: 50%; display: inline-block">
      <mat-checkbox [(ngModel)]="checkProgramaCobol">Programa Cobol</mat-checkbox>
    </div>
    <div style="width: 50%; display: inline-block">
      <mat-checkbox [(ngModel)]="checkCopybook">Copybook</mat-checkbox>
    </div>
    <div style="width: 50%; display: inline-block">
      <mat-checkbox [(ngModel)]="checkJcl">Jcl</mat-checkbox>
    </div>
    <div style="width: 50%; display: inline-block">
      <mat-checkbox [(ngModel)]="checkJclStep">Jcl Step</mat-checkbox>
    </div>
    <div style="width: 50%; display: inline-block">
      <mat-checkbox [(ngModel)]="checkDsn">DSN</mat-checkbox>
    </div>
    <div style="width: 50%; display: inline-block">
      <mat-checkbox [(ngModel)]="checkDdname">DDName</mat-checkbox>
    </div>
    <div style="width: 50%; display: inline-block">
      <mat-checkbox [(ngModel)]="checkTabela">Tabela</mat-checkbox>
    </div>
    <div style="width: 50%; display: inline-block">
      <mat-checkbox [(ngModel)]="checkTabelaCampo">Campo Tabela</mat-checkbox>
    </div>
    <div style="width: 50%; display: inline-block">
      <mat-checkbox [(ngModel)]="checkFileDescription">File Description</mat-checkbox>
    </div>
    <div style="width: 50%; display: inline-block">
      <mat-checkbox [(ngModel)]="checkCicsTransaction">Cics Transaction</mat-checkbox>
    </div>
    <div style="width: 50%; display: inline-block">
      <mat-checkbox [(ngModel)]="checkUtilitario">Utilitário</mat-checkbox>
    </div>
  </div>
</div>
<div mat-dialog-actions style="float: right">
  <a class="waves-effect waves-light btn-flat white black-text " (click)="onCancelar()">Cancelar</a>
  <a class="waves-effect waves-light btn-flat blue darken-4 white-text"  (click)="onAplicar()">Aplicar</a>
</div>