<div style="height: 30px; padding-left: 5px; padding-top: 5px; padding-bottom: 35px; background-color:#FFFFFF; border-bottom: 1px solid #000000; position: fixed; top: 64px; width: 90%;">
    <a class="waves-effect waves-light btn blue darken-4" style="margin-right: 5px; line-height: 25px; height: 25px;"
        (click)="onInverterOrientacao();">
        <i class="material-icons left">swap_horiz</i>{{ orientacao }}
    </a>
    <a class="waves-effect waves-light btn blue darken-4" mat-raised-button (click)="openDialogFiltrar()" style="margin-right: 5px; line-height: 25px; height: 25px;"><i
            class="material-icons left">location_searching</i>Filtrar</a>
    <a class="waves-effect waves-light btn blue darken-4" mat-raised-button (click)="openDialogAjuda()" style="margin-right: 5px; line-height: 25px; height: 25px;"><i
            class="material-icons left">info</i>Ajuda</a>
</div>
<div id="diagrama" style="margin-top: 40px">
</div>