.mat-checkbox , .mat-checkbox-disabled.mat-checkbox-checked .mat-checkbox-background {
    margin-right: 20px;
}


  ::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background, .mat-accent .mat-pseudo-checkbox-checked, .mat-accent .mat-pseudo-checkbox-indeterminate, .mat-pseudo-checkbox-checked, .mat-pseudo-checkbox-indeterminate {
    background-color: #0081bd !important; /* Red background for example */
}

label {
    color: #0081bd;
    font-size: 14px;
    font-weight: 500;
}

