<div class="navbar-fixed">
  <nav class="nav-extended" style="background-color: #0039ba" role="navigation">
    <div class="nav-wrapper">
      <ul id="nav-mobile" class="left">
        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
          <a [routerLink]="['/']">Início</a>
        </li>
        <li routerLinkActive="active">
          <a [routerLink]="['/pesquisa-avancada']">Pesquisa Avançada</a>
        </li>
        <li routerLinkActive="active">
          <a [routerLink]="['/artefato/incluir']">Incluir Artefato</a>
        </li>
        <li routerLinkActive="active">
          <a [routerLink]="['/ajuda']">Ajuda</a>
        </li>
      </ul>
      <div class="right hide-on-med-and-down">
        <form [formGroup]="formPesquisaRapida" (ngSubmit)="onSubmit()">
          <div class="campo pesquisa-rapida editavel tipo">
            <input id="FORM-PESQUISA-RAPIDA-INPUT" autocomplete="off" placeholder="Pesquisa rápida" type="search"
              formControlName="termPesquisaRapida" />
            <i id="FORM-PESQUISA-RAPIDA-ICON-SEARCH" class="material-icons left blue-text text-darken-4">search</i>
            <div id="FORM-PESQUISA-RAPIDA-RESULTADO-DIV" style="padding-right: 0px; position: absolute; width: 352px;"
              *ngIf="exibirLista">
              <div class="collection" style="top:-25px; left:0px">
                <a class="collection-item" [routerLink]="['/artefato/' + artefato.coArtefato ]" *ngFor="let artefato of resultados | async">
                  {{ artefato.noNomeExibicao ? artefato.noNomeExibicao : artefato.noNomeInterno }}
                  ({{artefato.tipoArtefato.coTipo }}) </a>
              </div>
            </div>

          </div>
        </form>



        <!--
        <form [formGroup]="pesquisaRapidaForm" style="height: 64px;">
          <mat-form-field style="width: 300px; margin-right: 20px; padding: 0px;">
            <input type="text" matInput placeholder="Pesquisar..." style="
                 border: none;
                 border-radius: 3px;
                 box-shadow: none;
                 color: black;
                 padding-left: 5px;
                 background-color: aliceblue;
                 height: 35px;"
              formControlName="grupoArtefato" required [matAutocomplete]="autoGroup" [classList]="myapp-no-padding-dialog">
            <mat-autocomplete #autoGroup="matAutocomplete" [classList]="myapp-no-padding-dialog">
              <mat-optgroup *ngFor="let resultado of listaResultadoOptions | async" [label]="resultado.coTipoArtefato">
                <mat-option *ngFor="let nome of resultado.noNomeArtefato" [value]="nome">
                  {{nome}}
                </mat-option>
              </mat-optgroup>
            </mat-autocomplete>
          </mat-form-field>
        </form>
        -->
      </div>
    </div>
  </nav>
</div>