<h1 mat-dialog-title>Ajuda (Diagrama)</h1>
<div mat-dialog-content>
    <p><i class="material-icons left">swap_horiz</i> <span style="font-weight: bolder;">Botão Orientação</span>:
        Alterna entre a visão de relacionamentos ascendentes e descendentes </p>
    <p><i class="material-icons left">location_searching</i> <span style="font-weight: bolder;">Botão Filtrar</span>:
        Permite filtrar os artefatos exibidos no grafo. </p>
    <p><i class="material-icons left">mouse</i> <span style="font-weight: bolder;">Clique (esquerdo)</span>:
        Ao clicar uma vez em um artefato, serão exibidos as informações do mesmo no painel lateral esquerdo. </p>
    <p><i class="material-icons left">mouse</i> <span style="font-weight: bolder;">Duplo clique (esquerdo)</span>:
        Ao clicar duas vezez em um artefato será expandida/recolhida a árover dos relacionamentos do mesmo. </p>
    <p><i class="material-icons left">mouse</i> <span style="font-weight: bolder;">Clique (direito)</span>:
        Ao clicar com o botão direito em um artefato será exibido o menu contexto com as opções. </p>
    <p style="padding-left: 37px;"><span style="text-decoration: underline">Atualizar</span>:
        Realiza um nova requisição ao servidor para atualizar os relacionamentos do artefato selecionado.</p>
    <p style="padding-left: 37px;"><span style="text-decoration: underline">Centralizar</span>:
        Centraliza a visão do grafo no artefato selecionado exibindo os relacionamentos a partir dele.</p>
</div>