<app-artefato-editar-artefato></app-artefato-editar-artefato>
<div [style.width.px]="larguraContainer"
    [style.margin-left.px]="(width - larguraContainer) > 0 ? ( ( width - larguraContainer  ) / 2 ) : 0"
    style="border: 1px solid rgb(209, 209, 209); border-radius: 5px; margin-top: 10px;">

    <div style="display: grid; grid-column-gap: 10px; padding:10px; ">
        <div
            style="display: inline-grid; grid-column-start: 1; grid-column-end: 2; grid-row-start: 1; grid-row-end: 2;">
            <div class="switch">
                <label>
                    <input type="checkbox" (click)="onSwitch('ASCENDENTE')" checked>
                    <span class="lever"></span>
                    Ver Ascendentes
                </label>
            </div>
        </div>
        <div
            style="display: inline-grid; grid-column-start: 2; grid-column-end: 3; grid-row-start: 1; grid-row-end: 2;">
            <div class="switch" >
                <label>
                    <input type="checkbox" (click)="onSwitch('DESCENDENTE')" checked>
                    <span class="lever"></span>
                    Ver Descendentes
                </label>
            </div>
        </div>
        <div
            style="display: inline-grid; grid-column-start: 3; grid-column-end: 4; grid-row-start: 1; grid-row-end: 2;">
            <a class="waves-effect waves-light btn blue lighten-1"
                style="margin-right: 5px; line-height: 25px; height: 25px;" (click)="onInverterOrientacao();">
                <i class="material-icons left">add</i>Incluir Relacionamento
            </a>
        </div>
    </div>
</div>
<app-artefato-editar-relacionamento ></app-artefato-editar-relacionamento>